---
type Props = {
    path: string;
    currentPage: number;
    lastPage: number;
};

const { path, currentPage, lastPage } = Astro.props;

/* /artists/[id]/1がマッチせず、ページが存在しない判定になるため */
function createHref(path: string, page: number) {
    return page <= 1 ? path : `${path}/${page}`;
}

const prevPageHref = createHref(path, currentPage < 2 ? currentPage : currentPage - 1);
const nextPageHref = createHref(path, lastPage <= currentPage ? currentPage : lastPage);
---

<div class="join mt-5 justify-center">
    <a class="join-item btn btn-ghost" href={prevPageHref}>«</a>
    <button class="join-item btn btn-ghost">Page {`${currentPage} / ${lastPage}`}</button>
    <a class="join-item btn btn-ghost" href={nextPageHref}>»</a>
</div>
