---
import { TablatureClient } from "../../clients/tablature";
import Pagination from "../../components/list/pagination.astro";
import TablatureList from "../../components/list/tablature/tablature-list.astro";
import Layout from "../../layouts/layout.astro";

export const prerender = false;

const { searchParams, host } = new URL(Astro.request.url);
const keyword = searchParams.get("keyword");
const currentPage = Number(searchParams.get("page")) || 1;

const { lastPage, tablatures } = keyword
    ? await TablatureClient.findTablatures(keyword)
    : { lastPage: 1, tablatures: [] };
---

<Layout>
    <div class="container mx-auto mt-5 flex flex-col">
        <h1 class="text-xl mb-7 text-center">"{keyword}"の検索結果</h1>
        <TablatureList tablatures={tablatures} />
        <!-- ホスト名（localhost:xxxx）が省略されたページに遷移してしまう  -->
        <Pagination
            path={`/search?keyword=${keyword}`}
            currentPage={currentPage}
            lastPage={lastPage}
            hasPageQueryParam={true}
        />
    </div>
</Layout>
