---
import { TablatureClient } from "../../clients/tablature";
import type { TablatureDetail } from "../../clients/model";
import Layout from "../../layouts/layout.astro";

export async function getStaticPaths() {
    const tablatures = await TablatureClient.getAllTablatureDetails();

    return tablatures.map((tablature) => ({
        params: {
            id: tablature.id,
        },
        props: {
            tablature,
        },
    }));
}

type Props = {
    tablature: TablatureDetail;
};

const { tablature } = Astro.props;
---

<Layout title={`${tablature.title} - ${tablature.artist.name}(${tablature.instrument})`}>
    <div class="container mx-auto mt-8 flex flex-col">
        <h1 class="text-xl text-center">TAB譜詳細</h1>
        <div class="overflow-x-auto mt-7">
            <table class="table table-zebra">
                <tbody>
                    <tr>
                        <th>楽曲タイトル</th>
                        <td class="text-right">{tablature.title}</td>
                    </tr>
                    <tr>
                        <th>アーティスト</th>
                        <td class="text-right">
                            <a class="link" href={`/artists/${tablature.artist.id}`}>
                                {tablature.artist.name}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>楽器</th>
                        <td class="text-right">{tablature.instrument}</td>
                    </tr>
                    <tr>
                        <th>備考</th>
                        <td class="text-right">{tablature.note}</td>
                    </tr>
                    <tr>
                        <th>配信元サイト</th>
                        <td class="text-right">
                            <a class="link link-primary" href={tablature.url} target="_blank">
                                {tablature.source}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</Layout>
